@import url('stylereset.css');
@import url('system.css');
@import url('main.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
a,input{
    color: white;
    text-decoration: none;
}
button,input{
    border:none;
    outline: none;
}
